## Aufgabe 26
Berechnen Sie für den Datensatz Schueler.txt folgende lineare
Modelle:

- `M1 <- lm(Groesse∼Alter+Gesch, data = Schueler)`

- `M2 <- lm(Groesse∼Alter, data = Schueler)`

- `M3 <- lm(Groesse∼Gesch, data = Schueler)`

- `M4 <- lm(Groesse∼1, data = Schueler)`


Berechnen Sie für M1, M2, M3 und M4 das Akaike Informationskriterium
AIC. Welches Modell hat das größte, welches das kleinste AIC? Welches der
vier Modelle ist nach dem AIC das beste Modell?

In [1]:
schueler <- read.csv(file="../Uebung 2/Schueler.txt", sep=" ")

head(schueler)

  lnr Klasse Gesch Alter Groesse Gewicht Mathe Physik Deutsch Bio
1 1    6     w     12    124     42      3     NA     2       3
2 2    5     w     12    146     39      4     NA     2       2
3 3   10     w     17    174     64      4      3     5       2
4 4    8     w     15    138     53      5      6     4       3
5 5    8     w     15    147     56      5      4     3       2
6 6    9     m     16    162     65      2      2     4       2

In [2]:
M1 <- lm(Groesse~Alter+Gesch, data = schueler)

M2 <- lm(Groesse~Alter, data = schueler)

M3 <- lm(Groesse~Gesch, data = schueler)

M4 <- lm(Groesse~1, data = schueler)

AIC_vals <- c(AIC(M1), AIC(M2), AIC(M3), AIC(M4))

cat("AIC M1:", AIC_vals[1], "\nAIC M2:", AIC_vals[2], "\nAIC M3:", AIC_vals[3], "\nAIC M4:", AIC_vals[4], "\n")

AIC M1: 7438.715
AIC M2: 7471.27
AIC M3: 8027.212
AIC M4: 8042.679

Wie wir sehen können, hat M4 den größten, während M1 den kleinsten Wert hat.

Ein niedriger Wert deutet daruf hin, dass ein Modell sowohl eine gute Anpassung als auch eine angemessene Komplexität hat.

Demnach ist M1 das "beste" Modell.

## Aufgabe 27
Betrachten Sie den R-Datensatz mtcars. Dieser enthält den Verbrauch mpg (Miles/(US) gallon) und 10 Design Aspekte von 32 Autos der Baujahre 1973-1974.
Selektieren Sie mittels Forward-Selektion, welche Design Aspekte in einem linearen Modell den Verbrauch beeinflussen.

In [3]:
data(mtcars)

head(mtcars)

# Empty model

fw_model_empty <- lm(mpg ~ 1, data=mtcars)

# Full model

fw_model_full <- lm(mpg ~ ., data=mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [4]:
fw_sel <- step(fw_model_empty, direction="forward", scope = list(lower=fw_model_empty, upper=fw_model_full))

summary(fw_sel)

Start:  AIC=115.94
mpg ~ 1

       Df Sum of Sq     RSS     AIC
+ wt    1    847.73  278.32  73.217
+ cyl   1    817.71  308.33  76.494
+ disp  1    808.89  317.16  77.397
+ hp    1    678.37  447.67  88.427
+ drat  1    522.48  603.57  97.988
+ vs    1    496.53  629.52  99.335
+ am    1    405.15  720.90 103.672
+ carb  1    341.78  784.27 106.369
+ gear  1    259.75  866.30 109.552
+ qsec  1    197.39  928.66 111.776
<none>              1126.05 115.943

Step:  AIC=73.22
mpg ~ wt

       Df Sum of Sq    RSS    AIC
+ cyl   1    87.150 191.17 63.198
+ hp    1    83.274 195.05 63.840
+ qsec  1    82.858 195.46 63.908
+ vs    1    54.228 224.09 68.283
+ carb  1    44.602 233.72 69.628
+ disp  1    31.639 246.68 71.356
<none>              278.32 73.217
+ drat  1     9.081 269.24 74.156
+ gear  1     1.137 277.19 75.086
+ am    1     0.002 278.32 75.217

Step:  AIC=63.2
mpg ~ wt + cyl

       Df Sum of Sq    RSS    AIC
+ hp    1   14.5514 176.62 62.665
+ carb  1   13.7724 177.40 62.805
<none>              191.17 63.198
+ qsec  1   10.5674 180.60 63.378
+ gear  1    3.0281 188.14 64.687
+ disp  1    2.6796 188.49 64.746
+ vs    1    0.7059 190.47 65.080
+ am    1    0.1249 191.05 65.177
+ drat  1    0.0010 191.17 65.198

Step:  AIC=62.66
mpg ~ wt + cyl + hp

       Df Sum of Sq    RSS    AIC
<none>              176.62 62.665
+ am    1    6.6228 170.00 63.442
+ disp  1    6.1762 170.44 63.526
+ carb  1    2.5187 174.10 64.205
+ drat  1    2.2453 174.38 64.255
+ qsec  1    1.4010 175.22 64.410
+ gear  1    0.8558 175.76 64.509
+ vs    1    0.0599 176.56 64.654

Call:
lm(formula = mpg ~ wt + cyl + hp, data = mtcars)

Residuals:
    Min      1Q  Median      3Q     Max
-3.9290 -1.5598 -0.5311  1.1850  5.8986

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 38.75179    1.78686  21.687  < 2e-16 ***
wt          -3.16697    0.74058  -4.276 0.000199 ***
cyl         -0.94162    0.55092  -1.709 0.098480 .
hp          -0.01804    0.01188  -1.519 0.140015
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 2.512 on 28 degrees of freedom
Multiple R-squared:  0.8431,	Adjusted R-squared:  0.8263
F-statistic: 50.17 on 3 and 28 DF,  p-value: 2.184e-11

## Aufgabe 28
Betrachten Sie den R-Datensatz mtcars. Dieser enthält den Verbrauch mpg (Miles/(US) gallon) und 10 Design Aspekte von 32 Autos der Baujahre 1973-1974.
Selektieren Sie mittels Backward-Selektion, welche der Design Aspekte cyl,
hp, wt, vs, disp in einem linearen Modell einen Einfluss auf den Verbrauch
haben.

In [9]:
data(mtcars)

mt_sub <- data.frame(mpg=mtcars$mpg, cyl=mtcars$cyl, hp=mtcars$hp, wt=mtcars$wt, vs=mtcars$vs, disp=mtcars$disp)

head(mt_sub)

  mpg  cyl hp  wt    vs disp
1 21.0 6   110 2.620 0  160
2 21.0 6   110 2.875 0  160
3 22.8 4    93 2.320 1  108
4 21.4 6   110 3.215 1  258
5 18.7 8   175 3.440 0  360
6 18.1 6   105 3.460 1  225

In [11]:
bw_model_full <- lm(mpg ~ ., data=mt_sub)

step(bw_model_full, direction="backward")

Start:  AIC=65.5
mpg ~ cyl + hp + wt + vs + disp

       Df Sum of Sq    RSS    AIC
- vs    1     0.155 170.44 63.526
- disp  1     6.272 176.56 64.654
<none>              170.29 65.496
- hp    1    17.219 187.51 66.579
- cyl   1    17.380 187.67 66.606
- wt    1    88.632 258.92 76.905

Step:  AIC=63.53
mpg ~ cyl + hp + wt + disp

       Df Sum of Sq    RSS    AIC
- disp  1     6.176 176.62 62.665
<none>              170.44 63.526
- hp    1    18.048 188.49 64.746
- cyl   1    24.546 194.99 65.831
- wt    1    90.925 261.37 75.206

Step:  AIC=62.66
mpg ~ cyl + hp + wt

       Df Sum of Sq    RSS    AIC
<none>              176.62 62.665
- hp    1    14.551 191.17 63.198
- cyl   1    18.427 195.05 63.840
- wt    1   115.354 291.98 76.750

Call:
lm(formula = mpg ~ cyl + hp + wt, data = mt_sub)

Coefficients:
(Intercept)          cyl           hp           wt
   38.75179     -0.94162     -0.01804     -3.16697

## Aufgabe 29

In einer klinischen Studie gibt es 4 Gruppen. Erstelle eine Kontrastmatrix, die folgende Hypothesen / Kontraste beinhaltet:

$$
\mu_1 = \mu_2
$$

$$
\mu_2 = \mu_3
$$

$$
\mu_2 = \mu_4
$$

$$
\mu_1 = \mu_3
$$

$$
\begin{pmatrix}
1 & -1 & 0 & 0 \\
0 & 1 & -1 & 0 \\
0 & 1 & 0 & -1 \\
1 & 0 & -1 & 0
\end{pmatrix}
$$

## Aufgabe 30

Berechnen Sie die FWER in folgenden Szenarien:
- 3 Hypothesen zu je $α = 0.05$
- 7 Hypothesen zu je $α = 0.05$
- 3 Hypothesen zu je $α = 0.1$
- 1 Hypothese zu $α = 0.05$

Die allgemeine Formel lautet

$$
\text{FWER} = 1 - (1 - \alpha)^n
$$

Demzufolge gilt für die vier Aufgaben:
$$
\text{FWER}_1 = 1 - (1 - 0.05)^3 = 0.142625
$$
$$
\text{FWER}_2 = 1 - (1 - 0.05)^7 = 0.9921875
$$
$$
\text{FWER}_3 = 1 - (1 - 0.1)^3 = 0.271
$$
$$
\text{FWER}_4 = 1 - (1 - 0.05)^1 = 0.05
$$