## Aufgabe 31

Sie arbeiten an einer klinischen Studie, die vier primäre Hypothesen hat. Das globale Signifikanzniveau beträgt 5%. Die Datenauswertung
wurde bereits vorgenommen und mittels Software erhalten Sie für die vier
Hypothesen folgende p-Werte:

| Hypothese 1 | Hypothese 2 | Hypothese 3 | Hypothese 4 |
| --- | --- | --- | --- |
| 0.0034 | 0.0389 | 0.0491 | 0.6794 |

**A:** Berechnen Sie die adjustierten p-Werte nach Bonferroni-Holm. Welche
Nullhypothesen können abgelehnt werden?

**B:** Berechnen Sie die adjustierten p-Werte nach Benjamini-Hochberg. Welche Nullhypothesen können abgelehnt werden?

(Sie dürfen gerne entsprechende R Pakete benutzen.)

In [3]:
p_vals <- c(0.0034, 0.0389, 0.0491, 0.6794)

adj_vals_holm <- p.adjust(p_vals, method="holm")

adj_vals_bh <- p.adjust(p_vals, method="BH")

adj_vals_holm

adj_vals_bh

[1] 0.0136 0.1167 0.1167 0.6794

[1] 0.01360000 0.06546667 0.06546667 0.67940000

Bei $\alpha = 0.05$ können abgelehnt werden:

A: $H_{01}$

B: $H_{01}$

## Aufgabe 32

**A:** Was ist der Unterschied zwischen MAR, MCAR und MNAR?

MCAR (Missing completely at random): Fehlende Werte haben keinen Zusammenhang mit den beobachteten Daten und sind vollkommen zufällig (Wahrscheinlichkeit, dass ein Wert fehlt, ist in jedem Fall gleich und unabhängig)

MAR (Missing at random): Fehlende Werte sind auf die Daten selbst zurückzuführen, kann aber damit in Verbindung stehen. (Wahrscheinlichkeit, dass ein Wert fehlt, kann von anderen beobachteten Daten abhängig sein)

NMAR (Not missing at random): Fehlende Werte hängen von den Werten selbst ab, die fehlen. (Wahrscheinlichkeit, dass ein Wert fehlt, hängt von dem Wert ab, der fehlt)

**B:** Geben Sie mindestens ein Beispiel für jede der drei Arten für fehlende
Werte.

MCAR: Aufgrund eines Umzugs geht der Kontakt mit dem Patienten verloren. Die fehlenden Daten sind unabhängig von den Antworten des Patienten.

MAR: In einer Studie fehlen die Blutdruckwerte einiger Patienten. Man findet heraus, dass dies vom Alter abhängt, da ältere Personen eher vergessen, ihren Blutdruck regelmäßig zu messen.

NMAR: In einer Studie über das Einkommen fehlen Daten von Personen mit einem hohen Einkommen, da diese dazu tendieren, ihr Einkommen nicht preisgeben zu wollen.

**C:** Welche Bedeutung hat die Unterscheidung in MAR, MCAR und MNAR?

MCAR: Diese Art führt nicht zu Verzerrungen in der Datenanalyse, da sie zufällig sind, und man muss sie daher nicht weiter berücksichtigen.

MAR: Muss berücksichtigt werden, da nicht zufällig. Kann aber durch statistische Methoden korrigiert werden, sofern die Abhängigkeiten klar sind.

NMAR: Muss auch berücksichtigt werden, ist allerdings komplizierter, da die fehlenden Daten nicht ignoriert werden, aber auch nicht einfach modelliert werden können.

## Aufgabe 33

Laden Sie den Datensatz nhanes aus dem R Paket mice und
beantworten Sie folgende Fragen:

**A:** Wie viele Personen haben keine fehlenden Werte? Wie viele Personen
haben in drei Variablen fehlende Werte?

**B:** In welcher Variablen sind keine fehlenden Werte? In welcher Variablen
gibt es die meisten fehlenden Werte? Wie viele?

**C:** Berechnen Sie für die Variablen BMI und Cholesterin Mittelwert und
95%-Konfidenzintervall per complete case analysis (variable wise). Auf
wie viele Merkmalsträger beziehen Sie sich dabei jeweils?

In [13]:
nhanes <- read.csv("nhanes.txt", sep=",")

head(nhanes)

  ID    SurveyYr Gender Age AgeDecade AgeMonths Race1 Race3 Education
1 51624 2009_10  male   34   30-39    409       White NA    High School
2 51624 2009_10  male   34   30-39    409       White NA    High School
3 51624 2009_10  male   34   30-39    409       White NA    High School
4 51625 2009_10  male    4   0-9       49       Other NA    NA
5 51630 2009_10  female 49   40-49    596       White NA    Some College
6 51638 2009_10  male    9   0-9      115       White NA    NA
  MaritalStatus ⋯ RegularMarij AgeRegMarij HardDrugs SexEver SexAge
1 Married       ⋯ No           NA          Yes       Yes     16
2 Married       ⋯ No           NA          Yes       Yes     16
3 Married       ⋯ No           NA          Yes       Yes     16
4 NA            ⋯ NA           NA          NA        NA      NA
5 LivePartner   ⋯ No           NA          Yes       Yes     12
6 NA            ⋯ NA           NA          NA        NA      NA
  SexNumPartnLife SexNumPartYear SameSex SexOrientation PregnantNow
1  8               1             No      Heterosexual   NA
2  8               1             No      Heterosexual   NA
3  8               1             No      Heterosexual   NA
4 NA              NA             NA      NA             NA
5 10               1             Yes     Heterosexual   NA
6 NA              NA             NA      NA             NA

In [27]:
num_na <- function(dataset) {
    count <- 0
    for (i in 1:nrow(dataset)) {
        row <- dataset[i,]
        if (any(is.na(row))) {
            count <- count + 1
        }
    }
    count
}

na_persons <- num_na(nhanes)

cat("Personen, bei denen fehlende Werte vorliegt:", na_persons, "von insgesamt", nrow(nhanes))

Personen, bei denen fehlende Werte vorliegt: 10000 von insgesamt 10000

In [30]:
no_na <- function(dataset) {
    count <- 0
    for (i in 1:ncol(dataset)) {
        col <- dataset[,i]
        if (!(any(is.na(col)))) {
            count <- count + 1
        }
    }
    count
}

wo_missing_rows <- no_na(nhanes)

cat("Spalten frei von fehlenden Werten:", wo_missing_rows)

Spalten frei von fehlenden Werten: 5

In [35]:
max_na <- function(dataset) {
    max_col <- 0
    curr_max <- -1
    for (i in 1:ncol(dataset)) {
        col <- dataset[,i]
        missing <- sum(is.na(col))
        if (missing > 0 && missing > curr_max) {
            curr_max <- missing
            max_col <- i
        }
    }
    max_col
}

max_missing_cols <- max_na(nhanes)

cat("Die meisten Werte fehlen in der Spalte", colnames(nhanes)[max_missing_cols])

Die meisten Werte fehlen in der Spalte HeadCirc

In [53]:
mean_ci <- function(x, c=0.95) {
    x <- x[complete.cases(x)]
    n <- length(x)
    mean_x <- mean(x)
    stderr <- sd(x) / sqrt(n)
    err_margin <- qt(c + (1 - c) / 2, df=n-1) * stderr
    ci_lower <- mean_x - err_margin
    ci_upper <- mean_x + err_margin
    return(list(mean = mean_x, ci_lower = ci_lower, ci_upper = ci_upper, n = n))
}


print("BMI:")
mean_ci(nhanes$BMI)
print("Cholesterin:")
mean_ci(nhanes$TotChol)

[1] "BMI:"

$mean
[1] 26.66014

$ci_lower
[1] 26.51282

$ci_upper
[1] 26.80745

$n
[1] 9634

[1] "Cholesterin:"

$mean
[1] 4.87922

$ci_lower
[1] 4.856316

$ci_upper
[1] 4.902124

$n
[1] 8474

## Aufgabe 34

Laden Sie nun den Datensatz starwars aus dem R Paket tidyverse
und beantworten Sie folgende Fragen:

**A:** Wie viel Prozent der Datenpunkte fehlen? Welche Spalte hat die meisten
fehlenden Werte?

**B:** Wenn Sie alle Zeilen entfernen, die mindestens einen fehlenden Wert
enthalten, wie viel Prozent der Daten verlieren Sie?

**C:** Wieso treten die Missings auf? Gibt es ein Muster in den fehlenden Wer-
ten?

In [57]:
starwars <- read.csv("starwars.csv")
head(starwars)

  name           height mass hair_color  skin_color  eye_color birth_year
1 Luke Skywalker 172     77  blond       fair        blue       19.0
2 C-3PO          167     75  NA          gold        yellow    112.0
3 R2-D2           96     32  NA          white, blue red        33.0
4 Darth Vader    202    136  none        white       yellow     41.9
5 Leia Organa    150     49  brown       light       brown      19.0
6 Owen Lars      178    120  brown, grey light       blue       52.0
  sex    gender    homeworld species
1 male   masculine Tatooine  Human
2 none   masculine Tatooine  Droid
3 none   masculine Naboo     Droid
4 male   masculine Tatooine  Human
5 female feminine  Alderaan  Human
6 male   masculine Tatooine  Human
  films
1 A New Hope, The Empire Strikes Back, Return of the Jedi, Revenge of the Sith, The Force Awakens
2 A New Hope, The Empire Strikes Back, Return of the Jedi, The Phantom Menace, Attack of the Clones, Revenge of the Sith
3 A New Hope, The Empire Strikes Back, Return of the Jedi, The Phantom Menace, Attack of the Clones, Revenge of the Sith, The Force Awakens
4 A New Hope, The Empire Strikes Back, Return of the Jedi, Revenge of the Sith
5 A New Hope, The Empire Strikes Back, Return of the Jedi, Revenge of the Sith, The Force Awakens
6 A New Hope, Attack of the Clones, Revenge of the Sith
  vehicles                           starships
1 Snowspeeder, Imperial Speeder Bike X-wing, Imperial shuttle
2
3
4                                    TIE Advanced x1
5 Imperial Speeder Bike
6

In [69]:
missing_datapoints <- function(dataset) {
    max_col <- 0
    curr_max <- -1
    total_missing <- 0
    total_data <- ncol(dataset) * nrow(dataset)
    for (i in 1:ncol(dataset)) {
        col <- dataset[,i]
        missing <- sum(is.na(col))
        total_missing <- total_missing + missing
        
        if (missing > 0 && missing > curr_max) {
            curr_max <- missing
            max_col <- i
        }
    }
    return(list(total_missing=total_missing, max_column=max_col, percentage_missing=(total_missing / total_data)))
}

missing <- missing_datapoints(starwars)
missing

cat("Die meisten Werte fehlen in der Spalte", colnames(starwars[missing$max_column]))

$total_missing
[1] 105

$max_column
[1] 7

$percentage_missing
[1] 0.0862069

Die meisten Werte fehlen in der Spalte birth_year

In [75]:
number_rows_w_missing <- num_na(starwars)
cat("Anzahl Zeilen mit fehlenden Informationen:", number_rows_w_missing, "von", nrow(starwars), "\nWürde man diese entfernen, so würde man", (number_rows_w_missing/nrow(starwars)), "% der Information verlieren")

Anzahl Zeilen mit fehlenden Informationen: 58 von 87
Würde man diese entfernen, so würde man 0.6666667 % der Information verlieren

Beim Alter gibt es besonders viele fehlende Werte

## Aufgabe 35

Betrachten Sie nochmal den Datensatz nhanes aus dem R Paket
mice.

**A:** Untersuchen Sie den linearen Einfluss des Cholesterols auf den BMI in
einer Complete Case Analyse.

**B:** Untersuchen Sie den linearen Einfluss von Cholesterol auf den BMI, wobei Sie die fehlenden Werte 5 mal multiple imputieren. Betrachten Sie dabei sowohl die Einzelergebnisse aller 5 Imputationen als auch das gepoolte Ergebnis.

In [87]:
nhanes <- read.csv("nhanes.txt", sep=",")
bmi <- nhanes$BMI
chol <- nhanes$TotChol

complete <- nhanes[complete.cases(nhanes)] # Wir betrachten nur die Daten mit vollständigen Einträgen

model <- lm(bmi ~ chol, data=complete)

summary(model)

Call:
lm(formula = bmi ~ chol, data = complete)

Residuals:
    Min      1Q  Median      3Q     Max
-15.863  -4.760  -1.030   3.833  54.666

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 22.72050    0.35426   64.14   <2e-16 ***
chol         0.97067    0.07088   13.69   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 6.982 on 8404 degrees of freedom
  (1594 observations deleted due to missingness)
Multiple R-squared:  0.02183,	Adjusted R-squared:  0.02171
F-statistic: 187.5 on 1 and 8404 DF,  p-value: < 2.2e-16

Da der p-Wert für `chol` sehr klein ist (<2e-16), können wir schlussfolgern, dass es einen auf diesem Niveau statistisch signifikanten Zusammenhang gibt.

Für **B** würde man mice benutzen, um die Imputationen durchzuführen:

```R
imp <- mice(nhanes, m = 5, seed = 123)
```

Und anschließend für jede der Imputationen eine lineare Regression berechnen. Bei meinem System hat es allerdings ein Problem mit dem Paket mice gegeben.